:root{
    --background-color: #422261;
    --face: #422261;
}

*{
/*    border: 5px solid red;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.pumpkin{
    position: relative;
    height: 300px;
    width: 170px;
    background-color: #f8931f;
    /*Herramienta para crear border-radius macizos: Fancy-border-radius*/
    border-radius: 28% 72% 33% 67% / 21% 83% 17% 79%;
    transform: rotate(13deg);
    box-shadow: 
        -40px 4px 0px -1px #fbb03b,
        -80px 5px 0px -2px #f8931f,/*it's strange how this shadow was infront of the previous one, even though it was declarated before, what was happening? i had to write it after*/
        40px -15px 0px 0px #f87700,
        80px -35px 0px -2px #f8931f;
}